/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

h1 {
	font-family: "Bungee Shade", arial black, arial;
	font-style: italic;

}

span {
	display: inline-block;
}


body {
	background:#f5d8b5;
	color:#382002;
	font-family:'century gothic', arial black, sans-serif;
	margin:30px;
	
}

p {
	font-family:Roboto,'century gothic',sans-serif;
}

footer {
	font-size: .9em;
	font-family: 'arial narrow', arial;
	font-style: italic;
	

}

figure {

	margin:10px;
	text-align:center;
	
}

figure img {
	width:50%;
	border:5px solid #965e36;
}

figcaption, footer {
	font-size: 0.75em;
	

}


#container {	

	background:#ffe6c7;
	width:90%;
	max-width:1000px;
	margin:auto;
	padding:20px;
	border: 5px solid #965e36;
	
}

nav ul {
	list-style:none;

}


nav a {
	color:#754306;

}

nav a:hover {
	color:#b36507;

}





