/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background:black;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	
}

header {
	font-family:'Almendra SC', Times new roman;
	font-size:4em;
	letter-spacing:10px;
	line-height:1em;
	color:white;
	margin-top:40px;
}

#logo {
	position:absolute;
	width:70px;
	height:80px;
	top:40px;
	left:30px;
	border-radius:50%;
	background:white;
	
}

#logo:hover {
	background:red;
}

#container {
	width:400px;
	margin:auto;
	padding:30px;
	text-align:center;
	margin-top:50px;
}

#nav ul {
	list-style:none;
	padding:30px;
	margin-top:40px;
	
}

#nav li {
	width:200px;
	border:1px solid white;
	padding:15px;
	margin-top:20px;

}

#nav a {
	color:white;
	font-size:1.5em;
	text-decoration:none;
	font-family:arial, sans-serif;
	text-align:center;
	
}

#nav a:hover {
	color:red;
}

#thirds li {
	display:inline;
	padding:10px;
}

figure {
	margin:40px;
}

figure img {
	width:100%;
	border: 3px solid white;
	border-radius:3%;
	
}	

.intro {
	font-family:arial, sans-serif;
	color:white;
	text-align:left;
	width:400px;
	margin:auto;
}


#events {
	position:absolute;
	color:white;
	font-family:arial, sans-serif;
	font-size:2em;
	
}

#partners {
	position:absolute;
	color:white;
	font-family:arial, sans-serif;
	font-size:2em;

}

#party_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
	object-fit:scale-down;

	
}

#party_cat:hover {
	opacity:50%;
}

#partner_cat:hover {
	opacity:50%;
}

#help_cat:hover {
	opacity:50%;
}

#partner_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;	
}

#help_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
}








/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

header {
	font-family:'Almendra SC', Times new roman;
	font-size:4em;
	letter-spacing:10px;
	color:white;
}

#logo {
	position:absolute;
	width:100px;
	height:110px;
	top:30px;
	left:60px;
	border-radius:50%;
	background:white;
	
}

#logo:hover {
	background:red;
}

#container {
	width:1000px;
	margin:auto;
	padding:30px;
	text-align:center;
	margin-top:50px;
}

#nav ul {
	list-style:none;
	padding:30px;
	margin-top:40px;
}

#nav li {
	display:inline;
	width:50px;
	border:1px solid white;
	padding:15px;
	margin-right:30px;
}

#nav a {
	color:white;
	font-size:1.5em;
	text-decoration:none;
	font-family:arial, sans-serif;
	text-align:center;
	
}

#nav a:hover {
	color:red;
}

#thirds li {
	display:inline;
	padding:10px;
}

figure {
	margin:40px;
}

figure img {
	width:60%;
	border: 3px solid white;
	border-radius:3%;
	
}	

.intro {
	font-family:arial, sans-serif;
	color:white;
	text-align:left;
	width:700px;
	margin:auto;
}

#selection {
	
}

#events {
	position:absolute;
	color:white;
	font-family:arial, sans-serif;
	font-size:2em;
	
}

#partners {
	position:absolute;
	color:white;
	font-family:arial, sans-serif;
	font-size:2em;

}

#party_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
	object-fit:scale-down;

	
}

#party_cat:hover {
	opacity:50%;
}

#partner_cat:hover {
	opacity:50%;
}

#help_cat:hover {
	opacity:50%;
}

#partner_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;


	
}

#help_cat {
	margin-top:20px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
	
}



	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



