/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    	line-height: 1.4em;
	background:black;
}




body {
	position:relative;
	top:50%;
	left:50%;
	
}


#container {
	
		
}

#background1 {
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 100%);
	width:1200px;
	height:648px;
	border:6px solid black;
	
}

#moon {
	position:absolute;
	background:#b2c0ed;
	border-radius:50%;
	height:80px;
	width:80px;
	top:30px;
	left:700px;
	opacity:1;
	transition:3s;
}

#moon:hover {
	transform:translate(0px,80px);
	opacity:0;
}

#ground {
	position:absolute;
	top:254px;
	left:5px;
	background:#151873;
	width:1200px;
	height:400px;
	text-align:center;
	display:inline-block;
}

#hills1 {
	position:absolute;
	border-radius:50%;
	top:180px;
	left:5px;
	width:400px;
	height:200px;
	background:#151873;
	transition:1s;

}

#hills1:hover {
	transform:translate(0px,-20px);
}

#hills2 {
	position:absolute;
	border-radius:50%;
	top:180px;
	left:405px;
	width:400px;
	height:200px;
	background:#151873;
	transition:1s;

}

#hills2:hover {
	transform:translate(0px,-20px);	
}

#hills3 {
	position:absolute;
	border-radius:50%;
	top:180px;
	left:805px;
	width:400px;
	height:200px;
	background:#151873;

}

#hills3:hover {
	transform:translate(0px,-20px);
}

#train {
	position:absolute;
	top:300px;
	left:-430px;
	width:500px;
	height:30px;
	border-radius:10%;
	background:black;
	transition:3s;

	
}

#train:hover {
	transform:translate(2000px,0px);
	
}
	
#star1 {
	position:absolute;
	color:yellow;
	font-size:2em;
	top:100px;
	left:100px;
	transition:1s;
}

#star1:hover {
	transform:rotate(360deg);	
}

#star2 {
	position:absolute;
	color:yellow;
	font-size:2em;
	top:170px;
	left:400px;
	transition:1s;
}


#star2:hover {
	transform:rotate(360deg);
}

#star3 {
	position:absolute;
	color:yellow;
	font-size:2em;
	top:80px;
	left:600px;
	transition:1s;
}

#star3:hover {
	transform:rotate(360deg);
}

#star4 {
	position:absolute;
	color:yellow;
	font-size:2em;
	top:110px;
	left:850px;
	transition:1s;
}

#star4:hover {
	transform:rotate(360deg);
}

#star5 {
	position:absolute;
	color:yellow;
	font-size:2em;
	top:40px;
	left:1100px;
	transition:1s;
}

#star5:hover {
	transform:rotate(360deg);
}






