/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background:black;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	
}

header {
	font-family:'Almendra SC', Times new roman;
	font-size:4em;
	letter-spacing:10px;
	line-height:1em;
	color:white;
	margin-top:40px;
}

#logo {
	position:absolute;
	width:70px;
	height:80px;
	top:40px;
	left:30px;
	border-radius:50%;
	background:white;
	
}

#logo:hover {
	background:red;
}

#container {
	width:400px;
	margin:auto;
	padding:30px;
	text-align:center;
	margin-top:50px;
}

#nav ul {
	list-style:none;
	padding:30px;
	margin-top:40px;
	
}

#nav li {
	border:1px solid white;
	padding:15px;
	margin-top:20px;

}

#nav a {
	color:white;
	font-size:1.5em;
	text-decoration:none;
	font-family:arial, sans-serif;
	text-align:center;
	
}

#nav a:hover {
	color:red;
}


figure {
	margin:40px;
}

figure img {
	width:100%;
	border: 3px solid white;
	border-radius:3%;
	
}	

.intro {
	text-indent:50px;
	font-family:arial, sans-serif;
	color:white;
	text-align:left;
	width:400px;
	margin:auto;
	font-size:2em;
	line-height:1em;
}


#party_cat:hover {
	opacity:50%;
}

#partner_cat:hover {
	opacity:50%;
}

#help_cat:hover {
	opacity:50%;
}

#party_cat {
	margin-top:20px;
	width:80%;
	border: 3px solid white;
	border-radius:3%;
}


#partner_cat {
	margin-top:20px;
	width:80%;
	border: 3px solid white;
	border-radius:3%;	
}

#help_cat {
	margin-top:20px;
	width:80%;
	border: 3px solid white;
	border-radius:3%;
}



footer {
	color:white;
	font-family: arial;
	font-size:.9em;
	padding:20px;
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left:12%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

#container {
	width:1000px;
	margin:auto;
	padding:30px;
	text-align:center;
	margin-top:50px;
}

header {
	font-family:'Almendra SC', Times new roman;
	font-size:4em;
	letter-spacing:10px;
	line-height:1em;
	color:white;
	margin-top:40px;
}

#logo {
	position:absolute;
	width:90px;
	height:100px;
	top:60px;
	left:100px;
	border-radius:50%;
	background:white;
	
}

#logo:hover {
	background:red;
}

#nav ul {
	list-style:none;
	padding:30px;
	margin-top:20px;
	
}

#nav li {
	display:inline;
	border:1px solid white;
	padding:15px;
	margin-right:20px;

}

#nav a {
	color:white;
	font-size:1.5em;
	text-decoration:none;
	font-family:arial, sans-serif;
	text-align:center;
	
}

#nav a:hover {
	color:red;
}

figure {
	margin:40px;
}

figure img {
	width:70%;
	border: 3px solid white;
	border-radius:3%;
	
}

.intro {
	text-indent:50px;
	font-family:arial, sans-serif;
	color:white;
	text-align:left;
	width:800px;
	margin:auto;
	font-size:2em;
	line-height:1em;
	margin-bottom:40px;
}

#party_cat:hover {
	opacity:50%;
}

#partner_cat:hover {
	opacity:50%;
}

#help_cat:hover {
	opacity:50%;
}

#party_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
}


#partner_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;	
}

#help_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left:34%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
#container {
	width:2000px;
	margin:auto;
	padding:30px;
	text-align:center;
	margin-top:50px;
}

header {
	font-family:'Almendra SC', Times new roman;
	font-size:5em;
	letter-spacing:10px;
	line-height:1em;
	color:white;
	margin-top:40px;
}

#logo {
	position:absolute;
	width:130px;
	height:140px;
	top:80px;
	left:170px;
	border-radius:50%;
	background:white;
	
}

#logo:hover {
	background:red;
}

#nav ul {
	list-style:none;
	padding:30px;
	margin-top:20px;
	
}

#nav li {
	display:inline;
	border:1px solid white;
	padding:30px;
	margin-right:20px;

}

#nav a {
	color:white;
	font-size:2em;
	text-decoration:none;
	font-family:arial, sans-serif;
	text-align:center;
	
}

#nav a:hover {
	color:red;
}

figure {
	margin:40px;
}

figure img {
	width:70%;
	border: 3px solid white;
	border-radius:3%;
	
}

.intro {
	text-indent:50px;
	font-family:arial, sans-serif;
	color:white;
	text-align:left;
	width:1300px;
	margin:auto;
	font-size:2.4em;
	line-height:1em;
	margin-bottom:40px;
}

#party_cat:hover {
	opacity:50%;
}

#partner_cat:hover {
	opacity:50%;
}

#help_cat:hover {
	opacity:50%;
}

#party_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
}


#partner_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;	
}

#help_cat {
	margin-right:15px;
	width:30%;
	border: 3px solid white;
	border-radius:3%;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left:33.5%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

	
	
	
} /* closes 1024px+ */



